.atl-ui-article-section {
	color: var(--theme-primary);
	font-weight: bold;
	margin-bottom: 1.0em;
}

.atl-ui-article-pathbar {
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 1.0em;
}

.atl-ui-article-section {
	margin-bottom: 0.0em;
	font-size: 0.8em;
}

.atl-ui-article-title {
	margin-bottom: 0.0em;
	line-height: 1.0em;
}

.atl-ui-article-subline {
	display: flex;
	gap: 2.0em;
	font-size: 0.8rem;
	opacity: 0.42;
	padding-top: 0.5rem;
}

.atl-ui-article-content {
	padding-top: 1.5em;
}

