:root {

	--atl-blog-bg0: var(--theme-black); /* blog header overall bg */

	--atl-blog-bg1: var(--theme-black); /* primary gradient 1 */
	--atl-blog-bg2: var(--theme-white); /* primary gradient 2 */

	--atl-blog-bg3: var(--theme-black); /* secondary gradient 1 */
	--atl-blog-bg4: var(--theme-white); /* secondary gradient 2 */

	--atl-blog-fg1: var(--theme-white); /* titlebar */
	--atl-blog-fg2: var(--theme-black); /* post date */

	/* headings 1-6 */
	--atl-blog-fgh1: var(--theme-white);
	--atl-blog-fgh2: var(--theme-white);
	--atl-blog-fgh3: var(--theme-white);
	--atl-blog-fgh4: var(--theme-white);
	--atl-blog-fgh5: var(--theme-white);
	--atl-blog-fgh6: var(--theme-white);

}

/* the header widget in its entirety */

.atl-blog-header {
	position: relative;
	overflow: hidden;

	background-color: var(--atl-blog-bg0);
}

/* undermost layer to add art. */

.atl-blog-header-wash {
	position: absolute;
	height: 100%;
	width: 100%;

	background-image: var(--image);
	background-position: center center;
	filter: blur(30px) brightness(0.35) opacity(0.85);
	transform: scale(1.25);
}

/* titlebar stripe above the blog graphic. */

.atl-blog-header-titlebar {
	position: relative;

	background-color: var(--atl-blog-bg1);
}

.atl-blog-header-titlebar,
.atl-blog-header-titlebar a:link,
.atl-blog-header-titlebar a:visited {
	border: 0px;
	color: var(--atl-blog-fg1);
}

.atl-blog-header-titlebar-title {
	font-weight: bold;
}

.atl-blog-header-titlebar-tagline {
	opacity: 0.64;
}

@media(max-width: 767.99px) {
	.atl-blog-header-titlebar-tagline {
		opacity: 0.75;
		font-size: 0.75em;
	}
}

/* artwork area of the header */

.atl-blog-header-artwork {
	position: relative;
}

.atl-blog-header-artwork .wallpapered {
	background-position: 50% 25%;
	height: 250px;
}

@media(max-width: 767.99px) {
	.atl-blog-header-artwork .wallpapered {
		background-position: 75% 50%;
		height: 200px;
	}
}

/***/

/* make hr's inside of blog posts to be fancy */

.atl-blog-post-container hr {
	background: linear-gradient(135deg, var(--atl-blog-bg1) 0%, var(--atl-blog-bg2) 100%);
	border: 0px;
	border-radius: 4px;
	height: 4px;
	opacity: 1.0;
}

.atl-blog-post-container h3 hr,
.atl-blog-post-container h4 hr,
.atl-blog-post-container h5 hr,
.atl-blog-post-container h6 hr {
	display: none;
}

/* allow headings to be themed wihin posts */

.atl-blog-post-container h1 { color: var(--atl-blog-fgh1); }
.atl-blog-post-container h2 { color: var(--atl-blog-fgh2); }
.atl-blog-post-container h3 { color: var(--atl-blog-fg2); }
.atl-blog-post-container h4 { color: var(--atl-blog-fg2); }
.atl-blog-post-container h5 { color: var(--atl-blog-fg2); }
.atl-blog-post-container h6 { color: var(--atl-blog-fg2); }

/* blog post content styling */

.atl-blog-post-dateline {
	color: var(--atl-blog-fg2);
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}

.atl-blog-post-title {
	margin-bottom: 0.5rem;
}

.atl-blog-post-tags .btn {
	border-radius: 4px;
}

.atl-blog-post-img {
	text-align: center;
	margin-bottom: 2rem;
}

.atl-blog-post-img img {
	background: linear-gradient(90deg, var(--atl-blog-bg3) 0%, var(--atl-blog-bg4) 100%) !important;
	padding: 2px;

	border-radius: 10px;
	max-width: 100%;
}

.atl-blog-post-img figcaption {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.65;
	padding-top: 0.5rem;
}

.atl-blog-post-row .ratiobox a {
	border: 0px !important;
}

