
.Editor {
	background-color: var(--theme-body-bg-alt);
	border-radius: 6px;
	padding: 6px;
}

.Editor .EditorItem.Selected {
	border-radius: 0.25rem;
	outline: 2px solid var(--theme-primary);
}

.Editor .Viewport {
	border-radius: 6px;
	padding: 6px;

	max-height: 40vh;
	overflow-y: scroll;
}

.Editor .Viewport:focus-visible {
	outline: 2px solid var(--theme-primary-alt);
}

.Editor .Toolbar {
	gap: 0.50rem;
	padding: 6px;
	border-radius: 6px;
	margin-bottom: 6px;
}

.Editor .Toolbar > div {
	padding: 0px !important;
}

.Editor .ToolbarButton {
	display: flex;
	align-items: center;
	flex-grow: 0;

	font-size: 1.2em;
	padding: 1px 6px 0px 6px;
}

.Editor .ToolbarButton > span {
	display: none;
}

.Editor .ToolbarDropdown .dropdown-menu {
	background-color: var(--bs-secondary-bg);
}

.Editor .ToolbarDropdown .row {
	gap: 0.50rem;
}

.Editor .ToolbarDropdown .row > div {
	padding: 0px !important;
}

.Editor .Debug {
	font-size: 0.8rem;
	padding-top: 16px;
	white-space: break-word;

	display: none;
	max-height: 10vh;
	overflow-y: scroll;
}

.EditorItem {
	user-select: none;
}

.EditorContent blockquote {
	margin-left: 3rem;
}

.EditorContent ul > li {
	margin-bottom: 16px;
}

.EditorContent ul > li:last-of-type {
	margin-bottom: 0px;
}
