.atl-field-tag-search-results > div.position-absolute {
	background: var(--theme-menu-bg);
	border: 1px solid var(--theme-form-border);
	box-shadow: 0px 0px 10px #000000;
	border-radius: 4px;
	padding: 0.5rem;
	bottom: 4px;

	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

[data-bs-theme="light"] .atl-field-tag-search-results > div.position-absolute {
	box-shadow: 0px 0px 10px #00000066;
}

.atl-field-tag-search-results {

}

.atl-field-tag-search-selected {

}
