.atl-ui-pillbox-item a:link,
.atl-ui-pillbox-item a:visited,
.atl-ui-pillbox-moredown-dropdown .dropdown-toggle {
	-background: var(--theme-body-bg) !important;
	color: var(--theme-body-fg) !important;

	border-bottom: 0px;
	display: block;
	font-weight: bold !important;
	padding: 6px 10px 5px 10px;
	border-radius: 4px;
	white-space: nowrap;
}

.atl-ui-pillbox-moredown-dropdown .dropdown-menu-item {
	/* give in the menu some finger space. */
	padding: 4px 0px;
}

.atl-ui-pillbox-item a:hover {
	background-color: var(--theme-primary);
	color: var(--theme-white);
}

.atl-ui-pillbox-item.on a:link,
.atl-ui-pillbox-item.on a:visited {
	background: var(--theme-body-fg) !important;
	color: var(--theme-body-bg) !important;
}
