
/*
<div class="swiper-supercontainer swiper-coldboot">
	<div id="" class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide"></div>
			...
		</div>
		<div class="swiper-buttons">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-scrollbar"></div>
	</div>
</div>
*/

:root {
	--theme-swiper-btn-bg:      #00000000;
	--theme-swiper-btn-bg-next: #000000AA;
	--theme-swiper-btn-bg-stop: #00000033;
}

.swiper-supercontainer {
	position: relative;
}

.swiper-coldboot {
	display: none !important;
}

.swiper {
	border-radius: 6px;
	overflow: hidden !important;
}

.swiper-wrapper {
	margin-bottom: 0px !important;
}

.swiper-pager {
	display: flex;
	width: 100%;
	justify-content: center;
}

.swiper-pagination {
	bottom: auto !important;
	flex-grow: 0;
}

.swiper-buttons {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 6px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-pager {
	position: absolute;
}

.swiper-button-prev,
.swiper-button-next {
	position: relative !important;
	top: initial !important;
	left: initial !important;
	height: 100% !important;
	width: auto !important;
	margin-top: 0px !important;

	color: #FFFFFF !important;
	background-color: var(--theme-swiper-btn-bg);
	backdrop-filter: blur(0px) !important;
	transition: background-color 200ms, backdrop-filter 200ms, color 200ms;

	border-radius: 6px;
	padding: 0px 8px !important;
}

.swiper-button-prev {
	left: 0px !important;
	right: auto !important;
}

.swiper-button-next {
	left: auto !important;
	right: 0px !important;
}

.swiper-button-disabled {
	opacity: 1.0 !important;
	cursor: pointer !important;
	pointer-events: initial !important;

	color: #FFFFFF33 !important;
}

.swiper-pagination-bullet {
	border-radius: 2px !important;
}

.swiper-pagination-bullet-active {
	color: var(--theme-light-fg);
	background: var(--theme-primary);
}

/*******************************************************************************
**** hover effects ************************************************************/

.swiper-supercontainer:hover .swiper-button-prev,
.swiper-supercontainer:hover .swiper-button-next {
	background-color: var(--theme-swiper-btn-bg-next) !important;
	backdrop-filter: blur(4px) !important;
}

.swiper-supercontainer:hover .swiper-button-prev.swiper-button-disabled,
.swiper-supercontainer:hover .swiper-button-next.swiper-button-disabled {
	background-color: var(--theme-swiper-btn-bg-stop) !important;
	backdrop-filter: blur(2px) !important;
}
