/*******************************************************************************
********************************************************************************

Element: Nether\Atlantis\UI\Slider
Area:    elements/slider

* .swiper-supercontainer
wraps the swiper and after it is rigged up reparents the button and pager docks
into this for easier styling where the elements do not cover things up.

* .swiper.swiper-coldboot
hide the swiper untils its ready. this causes the page to grow when it turns on
rather than shink after the swiper configures itself when it contains
ratioboxes.

* .swiper.swiper-realboot
boot this slider swiper as part of the batch the page theme does rather than
pinging with its own document ready func.

* .swiper-buttons
docks the next/prev buttons and gets reparented to the supercontainer when
it is ready to go.

* .swiper-pager
docks the paginator widget and gets reparented to the supercontainer when it
is ready to go.

* swiper-pager-bullet-square
makes the pager bullets be square instead of circle.

<div class="swiper-supercontainer">
	<div id="" class="swiper swiper-coldboot swiper-realboot">
		<div class="swiper-wrapper">
			<div class="swiper-slide"></div>
			...
		</div>

		<!-- if omitted, added automatically. -->
		<div class="swiper-buttons">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<!-- if omitted, added automatically. -->
		<div class="swiper-pager">
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

********************************************************************************
*******************************************************************************/

:root {
	--theme-swiper-btn-bg:      #00000000;
	--theme-swiper-btn-bg-next: #000000AA;
	--theme-swiper-btn-bg-stop: #00000033;

	--theme-swiper-pager-bg-this: #AAAAAA;
	--theme-swiper-pager-bg-nope: #222222;
}

.atl-ui-slider {

}

.swiper-supercontainer {
	position: relative;
}

.swiper-coldboot {
	display: none !important;
}

.swiper {
	border-radius: 6px;
	overflow: hidden !important;
}

.swiper-wrapper {
	margin-bottom: 0px !important;
}

.swiper-pager {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}

.swiper-pagination {
	bottom: auto !important;
	flex-grow: 0;
}

.swiper-pagination-horizontal {
	line-height: 1.0em;
}

.swiper-buttons {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
	position: relative !important;
	top: initial !important;
	left: initial !important;
	height: 100% !important;
	width: auto !important;
	margin-top: 0px !important;

	color: #FFFFFF !important;
	background-color: var(--theme-swiper-btn-bg);
	backdrop-filter: blur(0px) !important;
	transition: background-color 200ms, backdrop-filter 200ms, color 200ms;

	border-radius: 6px;
	padding: 0px 8px !important;
}

.swiper-button-prev {
	right: auto !important;
	left: 0px !important;
}

.swiper-button-next {
	left: auto !important;
	right: 0px !important;
}

.swiper-button-disabled {
	opacity: 1.0 !important;
	cursor: pointer !important;
	pointer-events: initial !important;
	color: var(--theme-swiper-btn-bg-stop) !important;
}

/*******************************************************************************
**** pager tweaks *************************************************************/

.swiper-pagination-bullet {
	background: var(--theme-swiper-pager-bg-nope) !important;
	opacity: initial !important;
	height: 14px !important;
	width: 14px !important;
}

.swiper-pagination-bullet-active {
	background: var(--theme-swiper-pager-bg-this) !important;
	opacity: initial !important;
}

.swiper-pager-bullet-square {
	border-radius: 2px !important;
}

.swiper-supercontainer .swiper-pager {
	position: relative !important;
	padding-top: 0.75rem;
}

.swiper-supercontainer .swiper-pagination {
	position: relative !important;
}

/*******************************************************************************
**** hover effects ************************************************************/

.swiper-supercontainer:hover .swiper-button-prev,
.swiper-supercontainer:hover .swiper-button-next {
	background-color: var(--theme-swiper-btn-bg-next) !important;
	backdrop-filter: blur(4px) !important;
}

.swiper-supercontainer:hover .swiper-button-prev.swiper-button-disabled,
.swiper-supercontainer:hover .swiper-button-next.swiper-button-disabled {
	background-color: var(--theme-swiper-btn-bg-stop) !important;
	backdrop-filter: blur(2px) !important;
}
