/* header element stuff *******************************************************/

:root {
	--theme-header-bg: var(--theme-black);
	--theme-header-fg: var(--theme-white);
	--theme-header-link-fg: var(--theme-white);
	--theme-header-link-fg-hover: var(--theme-orange-alt);
	--theme-header-pad-x: 0.00rem;
	--theme-header-pad-y: 0.75rem;
}

.atl-page-header {
	position: relative;
	z-index: 9001;

	background-color: var(--theme-header-bg);
	color: var(--theme-header-fg);
	padding: var(--theme-header-pad-y) var(--theme-header-pad-x);
}

.atl-page-header a:link:not(.btn),
.atl-page-header a:visited:not(.btn) {
	border-bottom: 0px;
	color: var(--theme-header-link-fg);
	text-decoration: none;
	transition: color 150ms;
}

.atl-page-header a:hover:not(.btn),
.atl-page-header a:active:not(.btn) {
	color: var(--theme-header-link-fg-hover);
}

.atl-page-header-logo-text {
	font-weight: bold;
}

.atl-page-header-logo-img {
	max-height: 20px;
}

.atl-page-header-menubtn {
	padding: 0px 0.5rem;
}

.atl-page-header-menubtn .mdi-menu {
	font-size: 2.0rem;
	line-height: 2.0rem;
	margin: 0px 0px;
}

.atl-page-header nav .btn {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1px 8px 2px 8px;
}
