/* header element stuff *******************************************************/

.PageHeader {
	position: relative;
	z-index: 9001;

	background-color: var(--theme-header-bg);
	padding: 14px 0px 14px 0px;
}

.PageHeader a:link:not(.btn),
.PageHeader a:visited:not(.btn) {
	border-bottom: 0px;
	color: var(--bs-body-color);
	text-decoration: none;
	transition: color 200ms;
}

.PageHeader a:hover:not(.btn),
.PageHeader a:active:not(.btn) {
	color: var(--bs-link-hover-color);
}

.PageHeader nav {
	text-transform: uppercase;
}

.PageHeader nav .btn {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1px 8px 2px 8px;
}
