/* header element stuff *******************************************************/

.PageHeader {
	position: relative;
	z-index: 9001;

	background-color: var(--theme-header-bg);
	padding: 0.75rem 0px 0.75rem 0px;
}

.PageHeader a:link:not(.btn),
.PageHeader a:visited:not(.btn) {
	border-bottom: 0px;
	color: var(--bs-body-color);
	text-decoration: none;
	transition: color 200ms;
}

.PageHeader a:hover:not(.btn),
.PageHeader a:active:not(.btn) {
	color: var(--bs-link-hover-color);
}

.PageHeader nav {
	text-transform: uppercase;
}

.PageHeader nav .btn {
	font-size: 0.8em;
	font-weight: bold;
	padding: 1px 8px 2px 8px;
}

/*******************************************************************************
*******************************************************************************/

.PageDevNote {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9101;
	width: 7svw;
	height: 7svw;

	filter: drop-shadow(2px 2px 2px #0004);
}

.PageDevNote > div {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	clip-path: polygon(0 0, 0 100%, 100% 0);
}

.PageDevNote svg,
.PageDevNote label {
	position: absolute;
	top: 1svw;
	left: 1svw;
	height: 5svw;
	width: 5svw;
	transform: rotate(-45deg);

	line-height: 1.2rem;
	font-family: 'Beiruti', monospace;
	font-size: 1.5svw;
	font-weight: 900;
	text-align: center;
}

@media(max-width: 767.99px) {
	.PageDevNote {
		width: 12svw;
		height: 12svw;
		filter: drop-shadow(2px 2px 1px #0004);
	}

	.PageDevNote svg,
	.PageDevNote label {
		height: 6svw;
		width: 6svw;

		font-size: 2.5svw;
	}
}
