:root {

	/* page colours */

	--ColourPrimaryHue: 212;
	--ColourPrimarySat: 76%;
	--ColourPrimaryLvl: 42%;

	--ColourSecondaryHue: 212;
	--ColourSecondarySat: 80%;
	--ColourSecondaryLvl: 31%;

	--ColourTertiaryHue: 212;
	--ColourTertiarySat: 36%;
	--ColourTertiaryLvl: 54%;

	--ColourPrimaryAccent: hsl(var(--ColourPrimaryHue), var(--ColourPrimarySat), var(--ColourPrimaryLvl));
	--ColourSecondaryAccent: hsl(var(--ColourSecondaryHue), var(--ColourSecondarySat), var(--ColourSecondaryLvl));
	--ColourTertiaryAccent: hsl(var(--ColourTertiaryHue), var(--ColourTertiarySat), var(--ColourTertiaryLvl));

	/* page fonts */

	--FontFamilyNormal: 'Segoe UI', 'Helvetica', sans-serif;
	--FontWeightNormal: 300;
	--FontSpacingNormal: 0.02em;

	--FontFamilyMonotype: 'Consolas', 'Menlo', monospace;
	--FontWeightMonotype: 300;
	--FontSpacingMonotype: 0.02em;

	/* html layer */

	--ColourForegroundRoot: #F4F4F4;
	--ColourBackgroundRoot: #111111;

	/* body layer */

	--ColourForegroundPage: #FDFDFD;
	--ColourBackgroundPage: #222222;

	/* misc items */

	--ColourCode: hsl(var(--ColourPrimaryHue), calc(var(--ColourPrimarySat) - 30%), calc(var(--ColourPrimaryLvl) + 30%));
	--ColourTextAccent: #666666;

	--ColourBackgroundPageAlt0: var(--ColourBackgroundPage);
	--ColourBackgroundPageAlt1: #1A1A1A;
	--ColourBackgroundPageAlt2: #151515;

	--ThemeHeaderBackground: #000000;
	--ThemeHeaderHeight: 100px;
}

html, body {
	background-color: var(--ColourBackgroundRoot);
	color: var(--ColourForegroundRoot);
	font-family: var(--FontFamilyNormal);
	font-weight: var(--FontWeightNormal);
	letter-spacing: var(--FontSpacingNormal);
}

code {
	color: var(--ColourCode);
	font-family: var(--FontFamilyMonotype);
	font-weight: var(--FontWeightMonotype);
	letter-spacing: var(--FontSpacingMonotype);
}

img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
	opacity: 1.0;
}

#PageHeader {
	position: relative;
	z-index: 9001;

	background: var(--ThemeHeaderBackground);
	box-shadow: 0px 5px 5px #000000AA;
	padding: 16px 0px;

	height: var(--ThemeHeaderHeight);
}

#PageHeader nav {
	text-transform: uppercase;
}

#PageHeader nav a:link,
#PageHeader nav a:visited {
	color: #FFFFFF;
	text-decoration: none;
	transition: color 200ms;
}

#PageHeader nav a:hover,
#PageHeader nav a:active {
	color: var(--ColourPrimaryAccent);
}

#PageMain {
	background-color: var(--ColourBackgroundPage);
	color: var(--ColourForegroundPage);
}

#PageMain a:link:not(.Block):not(.Tag),
#PageMain a:visited:not(.Block):not(.Tag) {
	color: var(--ColourForegroundRoot);
	border-bottom: 1px dotted;
	border-bottom-color: var(--ColourForegroundRoot);
	text-decoration: none;
	transition: border-bottom-color 200ms;
}

#PageMain a:active:not(.Block):not(.Tag),
#PageMain a:hover:not(.Block):not(.Tag) {
	border-bottom-color: var(--ColourTertiaryAccent);
}

#PageFooter {
	background: var(--ColourBackgroundRoot);
	padding: 64px 0px;
}

/*******************************************************************************
**** themed items in the style of bootstrap ***********************************/

.btn-primary { background-color: var(--ColourPrimaryAccent); border-color: var(--ColourPrimaryAccent); }

.font-family-monotype { font-family: var(--FontFamilyMonotype); }
.font-family-normal { font-family: var(--FontFamilyNormal); }

.fg-primary,
.fg-primary:link,
.fg-primary:visited,
.fg-primary:hover {
	color: var(--ColourPrimaryAccent);
}

.fg-secondary,
.fg-secondary:link,
.fg-secondary:visited,
.fg-secondary:hover {
	color: var(--ColourSecondaryAccent);
}

.fg-tertiary,
.fg-tertiary:link,
.fg-tertiary:visited,
.fg-tertiary:hover {
	color: var(--ColourTertiaryAccent);
}

.bg-primary { background-color: var(--ColourPrimaryAccent); }
.bg-secondary { background-color: var(--ColourPrimarySecondary); }
.bg-tertiary { background-color: var(--ColourPrimaryTertiary); }
.bg-alt0 { background-color: var(--ColourBackgroundPageAlt0); }
.bg-alt1 { background-color: var(--ColourBackgroundPageAlt1); }
.bg-alt2 { background-color: var(--ColourBackgroundPageAlt2); }

.border-primary { border-color: var(--ColourPrimaryAccent) !important; }
.border-secondary { border-color: var(--ColourSecondaryAccent) !important; }
.border-tertiary { border-color: var(--ColourTertiaryAccent) !important; }

.underdot { border-bottom: 1px solid dotted !important; }

.bg-alt0 code.cli, code.cli,
.bg-alt0 pre.cli, pre.cli {
	background-color: var(--ColourBackgroundPageAlt1);
	border-radius: 3px;
	color: var(--ColourCode);
	padding: 2px 10px;
}

.bg-alt1 code.cli,
.bg-alt1 pre.cli {
	background-color: var(--ColourBackgroundPageAlt2);
	border-radius: 3px;
	color: var(--ColourCode);
	padding: 2px 10px;
}

.bg-alt2 code.cli,
.bg-alt2 pre.cli {
	background-color: var(--ColourBackgroundPageAlt0);
	border-radius: 3px;
	color: var(--ColourCode);
	padding: 2px 10px;
}

.bg-alt0 code.file, code.file,
.bg-alt0 pre.file, pre.file {
	background-color: var(--ColourBackgroundPageAlt1);
	border-radius: 3px;
	color: var(--ColourForegroundPage);
	padding: 2px 10px;
}

.bg-alt1 code.file,
.bg-alt1 pre.file {
	background-color: var(--ColourBackgroundPageAlt2);
	border-radius: 3px;
	color: var(--ColourForegroundPage);
	padding: 2px 10px;
}

.bg-alt2 code.file,
.bg-alt2 pre.file {
	background-color: var(--ColourBackgroundPageAlt0);
	border-radius: 3px;
	color: var(--ColourForegroundPage);
	padding: 2px 10px;
}

/*******************************************************************************
**** structured widget stuff **************************************************/

.ArticlePrelabel {
	color: var(--ColourTertiaryAccent);
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1rem;
	text-transform: uppercase;
}

.PrettyBrandText {
	display: inline-block;
	font-weight: bold;
	border-top: 0.15em solid;
	border-color: var(--ColourPrimaryAccent);
	text-transform: uppercase;
}

.PrettyFooterLinkGrid a:link {
	border-top: 2px solid transparent;
	margin-top: -2px;
}

.PrettyFooterLinkGrid a:hover {
	border-top: 2px solid #FFFFFF;
}

.PrettyModernBox {
	background-color: #1A1A1A;
	border-radius: 5px;
	padding: 1.0em;
}

.PrettyModernBox h3 {
	display: flex;
	align-items: center;
	justify-content: center;

	letter-spacing: 0.12em;
	margin-bottom: 0.5em;
	font-weight: 200;
	text-transform: uppercase;
}

.PrettyModernBox h3 a,
.PrettyModernBox h3 span {
	flex-grow: 0;
}

.PrettyModernBox h3 hr {
	flex-grow: 1;
	margin: 0px;
	padding: 0px
}

.PrettyModernBox h3 hr:first-child {
	margin: 0px 0.5em 0px 0px;
}

.PrettyModernBox h3 hr:last-child {
	margin: 0px 0px 0px 0.5em;
}

.PrettyModernBox a:link:not(.underdot),
.PrettyModernBox a:visited:not(.underdot) {
	border-bottom: 0px !important;
}

.PrettyModernBox blockquote {
	letter-spacing: 0.12em;
	line-height: 1em;
	font-size: 2em;
	font-weight: 200;
	margin-bottom: 0px;
	text-align: right;
}

.PrettyModernBox .PrettyBrandText {
	border-top: 0.10em solid;
	font-weight: 200;
}

.PrettyModernBox .line-clamp-terminator {
	background: linear-gradient(90deg, #1A1A1A00 0%, #1A1A1AFF 100%);
}

/*******************************************************************************
**** fancy or *****************************************************************/

.FancyOrVH {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: 100%;
}

.FancyOrVH > div {
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0px;
	padding: 0px;
	opacity: 0.25;
	text-align: center;
}

.FancyOrVH > div:after {
	content: ' ';
	background: #fff;
	display: inline-block;
	height: 100%;
	width: 1px;
}

.FancyOrVH > label {
	flex-shrink: 1;
	flex-grow: 0;
	font-style: italic;
	padding: 6px;
	text-align: center;
	text-transform: uppercase;
}

@media(max-width: 767.99px) {
	/** md or smaller */

	.FancyOrVH {
		flex-direction: row;
	}

	.FancyOrVH > div:after {
		background: #fff;
		height: 1px;
		width: 100%;
	}
}

