.atl-blog-dateline {
	font-size: 0.8em;
	font-weight: bold;
	opacity: 0.5;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.atl-blog-title {
	margin-bottom: 0.5rem;
}

.atl-blog-img {
	text-align: center;
	margin-bottom: 2rem;
}

.atl-blog-img img {
	background: linear-gradient(90deg, var(--theme-primary) 0%, var(--theme-grey-lt) 100%) !important;
	padding: 1px;
	
	border-radius: 10px;
	max-width: 100%;
}

.atl-blog-img figcaption {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.65;
	padding-top: 0.5rem;
}

.atl-blog-post-row .ratiobox a {
	border: 0px !important;
}

.atl-blog-tags .btn {
	border-radius: 3px;
}


