.mdi {
	display: inline-block;
	-vertical-align: middle;
	width: 1.0em;
}

.btn > .mdi:first-child {
	margin-right: 0.25em;
}

.mdi-spin::before {
	-webkit-animation: mdi-spin 1s infinite linear;
	animation: mdi-spin 2s infinite linear;
}

.mdi-spin-fast::before {
	-webkit-animation: mdi-spin 1s infinite linear;
	animation: mdi-spin 1s infinite linear;
}

.mdi-spin-hyper::before {
	-webkit-animation: mdi-spin 500ms infinite linear;
	animation: mdi-spin 500ms infinite linear;
}
