.si {
	display: inline-block;
	vertical-align: middle;
	width: 1.0em;
}

.btn > .si:first-child {
	margin-right: 0.25em;
}

.si-twitter::before {
	/* content: "\f4e4"; prior to 13.16.0 */
	content: "\f643";
}
