.swiper-wrapper {
	margin-bottom: 10px !important;
	align-items: stretch !important;
}

.swiper-scrollbar {
	position: relative !important;
}

.swiper-scrollbar-drag {
	background-color: var(--theme-primary);
}

.swiper-pagination {
	gap: 10px;
	position: relative !important;
}

.swiper-pagination-bullet {
	margin: 4px !important;
	opacity: 0.75 !important;
	height: 14px !important;
	width: 14px !important;
}

.swiper .swiper-button-container {
	opacity: 0;
	transition: opacity 100ms;
}

.swiper:hover .swiper-button-container {
	opacity: 100;
}