
.shifty1 {
	position: relative;
	white-space: nowrap;
}

.shifty1::after {
	color: #F00;
	content: attr(data-title);

	position: absolute;
	top: 0px;
	left: -2px;
	opacity: 0.2;
}

.shifty1::before {
	color: #0FF;
	content: attr(data-title);

	position: absolute;
	top: 0px;
	left: 2px;
	opacity: 0.2;
}

.shifty {
	position: relative;
	white-space: nowrap;
}

.shifty::before {
	color: #000;
	content: attr(data-title);

	position: absolute;
	top: 0px;
	left: 3px;
	opacity: 0.8;
	mix-blend-mode: soft-light;
}
