/*//////////////////////////////////////////////////////////////////////////////
//// DARK THEME //////////////////////////////////////////////////////////////*/

:root {

	/* these colours should be used to brand the theme to fit in with the
	logo and/or desired look. these should typically be somewhat bold colours
	to be used on primary attention getting elements. */

	--theme-primary: #467adb;
	--theme-primary-alt: #84a6e6;
	--theme-secondary: #9834c7;
	--theme-secondary-alt: #c08bd8;

	/* font settings for the theme. generally these should be the most
	readable fonts that you think look good, not any fancy things used for
	flavour */

	--theme-font-normal-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
	--theme-font-normal-weight: 300;
	--theme-font-normal-letter-spacing: 0.03rem;

	--theme-font-mono-family: 'Consolas', 'Menlo', monospace;
	--theme-font-mono-weight: 300;
	--theme-font-mono-letter-spacing: 0.02em;

	/* these should be generically neutral colours as they will be used for
	various page elements for division and such */

	--theme-body-bg: #161616;
	--theme-body-bg-alt: #0D0D0D;
	--theme-body-bg-alt2: #111111;
	--theme-body-bg-alt0: var(--theme-body-bg);
	--theme-body-bg-alt1: var(--theme-body-bg-alt);

	--theme-body-fg: #FAFAFA;

	--theme-shadow: #000000AA;

	--theme-dark-bg: #1A1A1A;
	--theme-dark-glass: #09090988;
	--theme-dark-fg: #FAFAFA;
	--theme-darker-bg: #080808;
	--theme-darker-fg: var(--theme-body-fg);

	--theme-light-bg: #F1F1F1;
	--theme-light-fg: #161616;
	--theme-lighter-bg: #FAFAFA;
	--theme-lighter-fg: var(--theme-body-bg);

	--theme-dark-bg-glass: rgba(40, 40, 40, 0.75);
	--theme-light-bg-glass: rgba(60, 60, 60, 0.75);

	/* *** */

	--theme-header-bg: #040404;
	--theme-header-color: #FBFBFB;
	--theme-footer-bg: #040404;

	--bs-body-color: #fdfdfd;
	--bs-body-color-rgb: 253, 253, 253;
	--bs-code-color: var(--theme-primary-alt);
	--bs-link-hover-color: var(--theme-primary-alt);

	--bs-body-bg: var(--theme-body-bg);
	--bs-body-bg-rgb: 22, 22, 22;
	--bs-secondary-bg: #0A0A0A;
	--bs-secondary-bg-rgb: 10, 10, 10;
	--bs-tertiary-bg: #101010;
	--bs-tertiary-bg-rgb: 16, 16, 16;
}

/*//////////////////////////////////////////////////////////////////////////////
//// LIGHT THEME /////////////////////////////////////////////////////////////*/

[data-bs-theme="light"] {

	--theme-font-normal-weight: 300;
	--theme-font-mono-weight: 300;

	--theme-body-bg: #F6F6F6;
	--theme-body-bg-alt: #EAEAEA;
	--theme-body-bg-alt2: #F0F0F0;
	--theme-body-bg-alt0: var(--theme-body-bg);
	--theme-body-bg-alt1: var(--theme-body-bg-alt);

	--theme-body-fg: #161616;

	--theme-dark-glass: #CCCCCC88;

	--theme-header-bg: #FFFFFF;
	--theme-footer-bg: #FFFFFF;

	--bs-body-color: #080808;
	--bs-body-color-rgb: 4, 4, 4;

	--bs-body-bg-rgb: 242, 242, 242;
	--bs-secondary-bg: #F2F2F2;
	--bs-secondary-bg-rgb: 236, 236, 236;
	--bs-tertiary-bg: #F5F5F5;
	--bs-tertiary-bg-rgb: 248, 248, 248;
}

/*//////////////////////////////////////////////////////////////////////////////
//// MISC ////////////////////////////////////////////////////////////////////*/

html, body {
	font-family: var(--theme-font-normal-family);
	font-weight: var(--theme-font-normal-weight);
	letter-spacing: var(--theme-font-normal-letter-spacing);
}

a:link:not(.btn),
a:visited:not(.btn) {
	border-bottom: 1px dotted var(--bs-body-color);
	color: var(--bs-body-color);
	text-decoration: none;
}

code,
a > code,
pre {
	color: var(--bs-code-color);
	font-family: var(--theme-font-mono-family);
	font-weight: var(--theme-font-mono-weight);
	letter-spacing: var(--theme-font-mono-letter-spacing);
}

img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}


h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
	opacity: 0.20;
}

strong {
	font-weight: bold;
}

/*******************************************************************************
**** button stuff *************************************************************/

.btn-primary {
	--bs-btn-bg: var(--theme-primary);
	--bs-btn-hover-bg: var(--theme-primary-alt);
	--bs-btn-border-color: var(--theme-primary);
	--bs-btn-hover-border-color: var(--theme-primary-alt);
}

.btn-light {
	--bs-btn-bg: var(--theme-light-bg);
	--bs-btn-border-color: var(--theme-light-bg);
	--bs-btn-color: var(--theme-light-fg);
}

.btn-dark {
	--bs-btn-bg: var(--theme-dark-bg);
	--bs-btn-border-color: var(--theme-dark-bg);
	--bs-btn-color: var(--theme-dark-fg);
}

.btn-outline-light {
	--bs-btn-border-color: var(--theme-light-bg);
	--bs-btn-color: var(--theme-light-bg);
	--bs-btn-hover-bg: var(--theme-light-bg-glass);
	--bs-btn-hover-color: var(--theme-light-bg);
}

[data-bs-theme="light"] .btn-outline-light {
	--bs-btn-border-color: var(--theme-dark-bg);
	--bs-btn-color: var(--theme-dark-bg);
	--bs-btn-hover-bg: var(--theme-dark-bg-glass);
	--bs-btn-hover-color: var(--theme-dark-bg);
}

.btn-outline-dark {
	--bs-btn-border-color: var(--theme-dark-bg);
	--bs-btn-color: var(--theme-dark-bg);
}

/*******************************************************************************
**** form stuff ***************************************************************/

.form-control,
.form-select {
	background-color: var(--theme-light-bg-glass);
	border-color: var(--theme-light-bg-glass);
	transition: background-color 200ms;
}

.form-control:focus {
	transition: background-color 200ms;
}

.form-control::placeholder {
	color: var(--bs-body-color);
	opacity: 0.25;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

.btn {
	font-size: 0.80rem;
	font-weight: bold;
	letter-spacing: 0.03em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
}

.dropdown-menu {
	background-color: var(--theme-body-bg-alt2);
	border-radius: 0px;
	box-shadow: 0px 0px 72px #000;
}

.jumbotron {
	background-color: var(--theme-dark-bg-glass);
}

.dropdown-menu li {
	margin-bottom: 6px;
}

.dropdown-menu li:last-of-type {
	margin-bottom: 0px;
}

.dropdown-menu a.dropdown-item:link,
.dropdown-menu a.dropdown-item:visited {
	border-bottom: 0px !important;
	text-decoration: none !important;
}

.dropdown-menu a.dropdown-item:active,
.dropdown-menu a.dropdown-item:hover,
.dropdown-menu a.dropdown-item:focus {
	background-color: var(--theme-dark-bg);
}

.table td {
	vertical-align: middle;
}

.bg-alt0 {
	background-color: var(--theme-body-bg-alt0);
}

.bg-alt1 {
	background-color: var(--theme-body-bg-alt1);
}

.bg-alt2 {
	background-color: var(--theme-body-bg-alt2);
}
